* {
    margin: 0;
    box-sizing: border-box;
}

body { 
    background: rgb(51,51,51);
    max-width: 970px;
    margin: auto;
}

.icons {
    text-align: center;
    width: 970px;
    margin-top: 3px;
    margin-bottom: 8px;
}

.left-icons {
    float: left;
}

.right-icons {
    float: right;
}

.grid {
    display: grid;
    height: 50vh;
    width: 900px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 1.2%;
}

.board {
    background-image: url(https://www.deutschland.fm/i/a/leaderboardbalkzondertekst.gif);
    width: 740px;
    height: 103px;
    float: left;
    box-shadow: 1px 1px 2px rgb(68, 68, 68);
}
 
.image {
    float: left;
    width: 104px;
    height: 110px;
}

.item14 {
    grid-area: 2 / 4 / 5 / 7;
    background-image: url(https://www.deutschland.fm/i/a/midden.png);
    box-shadow: 1px 1px 2px rgb(68, 68, 68);
}

.color {
    background-color: rgb(136,136,136);
    border: 12px solid rgb(136,136,136);
    box-shadow: 1px 1px 2px rgb(17, 17, 17);
}

.item40, .item42 {
    width: 10px;
    height: 10px;
}

.item41 {
    grid-area: 6 / 3 / 6 / 8;
    background-image: url(https://www.deutschland.fm/i/a/leaderboardbalkzondertekst.gif);
    box-shadow: 1px 1px 2px rgb(68, 68, 68);
}

.image2 {
    float: right;
    width: 92px;
    height: 110px;
    
}

.color img {
    box-shadow: 1px 1px 2px rgb(68, 68, 68);
}

footer {
    display: flex;
    justify-content: space-around;
    color: rgb(136,136,136);
    margin-top: 4px;
}

footer a {
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
}

footer a:link {
    color: rgb(136,136,136);
}
footer a:visited {
    color: rgb(136,136,136);
}

footer a:hover {
    color: white;
    text-decoration: underline;
}
